APScheduler==3.6.0
astroid==1.6.5
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.9.142
botocore==1.12.142
bs4==0.0.1
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
cycler==0.10.0
Distance==0.1.3
Django==1.11.6
django-auth-ldap==1.2.1
django-auth-ldap3==0.9.6
djangorestframework==3.9.0
docutils==0.14
docx==0.2.4
dox==0.2.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
fuzzywuzzy==0.17.0
gensim==3.7.2
h5py==2.9.0
idna==2.7
isort==4.3.4
jmespath==0.9.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
ldap==1.0.2
ldap3==2.5.1
lxml==4.9.1
matplotlib==2.2.3
mccabe==0.6.1
mpmath==1.0.0
numpy==1.15.1
pandas==0.23.4
pbr==0.11.1
Pillow==5.4.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pylint==1.9.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
requests==2.20.0
Rest-Framework-Auth-Toolkit==0.9
s3transfer==0.2.0
scikit-learn==0.20.0
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.8.3
statsmodels==0.9.0
sympy==1.3
tzlocal==1.5.1
urllib3==1.24
wrapt==1.10.11
xgboost==0.82
xlrd==1.1.0
xlwt==1.3.0
