{% extends "./../webpage/base.html" %}
{% block content %}
    <h2 class="text-center">Building statistic</h2>
    <div class="search panel panel-default" style="margin-bottom: 0">
        <div class="panel-body form-group" style="margin-bottom:0">
            <form class="form-horizontal" role="form" action="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}" method="post">
                <div class="form-group">
                    <label for="team" class="col-sm-2 control-label">Job Name</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="training_job">
                            {% for job in training_jobs %}
                                <option id="job_name" value="{{job.name}}">{{job.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% load staticfiles %}

    <div style="overflow: auto; margin:20px" >
        {% for img in images %}
            <img src="{% static img %}">
            <br>
            {% if images is not None %}
                <div style="margin-left: 50px">
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=OneDay">One day</a>
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=OneWeek">One week</a>
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=OneMonth">One month</a>
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=ThreeMonth">Three month</a>
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=OneYear">One year</a>
                    <a style="background-color: lightcyan" class="btn active" href="{% url 'LogAnalysisPage:BuildingStatisticSubmit' %}?time=All">All</a>
                </div>
        {% endif %}
        {% endfor %}
    </div>

<br/><br/><br/>
{% endblock %}

