{% extends "./../webpage/base.html" %}
{% block content %}

    <style>
        input[type=text]{
            height: 33px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
    <p class="text-left"><strong>Select training method</strong></p>
    <button id="btn_NativeBayes" class="btn btn-primary">NativeBayes</button>
    <button id="btn_MLP" class="btn btn-primary">MLP</button>
    <button id="btn_SVM" class="btn btn-primary">SVM</button>
    <button id="btn_Kmeans" class="btn btn-primary">Kmeans</button>
    {% comment %}<p class="text-center"><strong>Log analysis</strong></p>{% endcomment %}
    <br/><br/>

    <form id="NativeBayes" style="display: none" class="form-horizontal" role="form" action="{% url 'LogAnalysisPage:TrainingLogByNaiveBayes' %}" method="post">
        <div class="form-group">
            <label for="team" class="col-sm-offset-2 col-sm-9">[data] Filter error & TFIDF [model] NativeBayes</label>
            <label for="team" class="col-sm-2 control-label">Method NativeBayes</label>
            <div class="col-sm-9">
                <select class="form-control" name="training_job">
                    {% for job in training_jobs %}
                        <option id="dir" value="{{job.name}}">{{job.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">training by Naive Bayes</button>
            </div>
        </div>
    </form>

    <form id="MLP" style="display: none" class="form-horizontal" role="form" action="{% url 'LogAnalysisPage:TrainingLogByMLP' %}" method="post">
        <div class="form-group">
            <label for="team" class="col-sm-offset-2 col-sm-9">[data] Doc2Vec [model] MLP</label>
            <label for="team" class="col-sm-2 control-label">Method MLP</label>
            <div class="col-sm-9">
                <select class="form-control" name="training_job">
                    {% for job in training_jobs %}
                        <option id="dir" value="{{job.name}}">{{job.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">Training by MLP</button>
            </div>
        </div>
    </form>

    <form id="SVM" style="display: none" class="form-horizontal" role="form" action="{% url 'LogAnalysisPage:TrainingLogBySVM' %}" method="post">
        <div class="form-group">
            <label for="team" class="col-sm-offset-2 col-sm-9">[data] Doc2Vec [model] SVM</label>
            <label for="team" class="col-sm-2 control-label">Method SVM</label>
            <div class="col-sm-9">
                <select class="form-control" name="training_job">
                    {% for job in training_jobs %}
                        <option id="dir" value="{{job.name}}">{{job.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">Training by SVM</button>
            </div>
        </div>
    </form>

    <form id="Kmeans" style="display: none" class="form-horizontal" role="form" action="{% url 'LogAnalysisPage:TrainingLogByKMeans' %}" method="post">
        <div class="form-group">
            <label for="team" class="col-sm-offset-2 col-sm-9">[data]  Doc2Vec [model] Kmeans</label>
            <label for="team" class="col-sm-2 control-label">Method Kmeans</label>
            <div class="col-sm-9">
                <select class="form-control" name="training_job">
                    {% for job in training_jobs %}
                        <option id="dir" value="{{job.name}}">{{job.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="team" class="col-sm-2 control-label">Select sub method</label>
            <div class="col-sm-9">
                <select class="form-control" id="submodel" name="submodel">
                    <option value="kmeans">k-means++</option>
                    <option value="dbscan">DBSCAN</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="kmeans">
            <div class="col-sm-offset-2 col-sm-9">
                cluster_k <input type="text" name="cluster_k" placeholder="cluster k" value="3">
                feature_d <input type="text" name="feature_d" placeholder="feature d" value="all">
            </div>
        </div>
        <div class="form-group" style="display: none" id="dbscan">
            <div class="col-sm-offset-2 col-sm-9">
                eps <input type="text" name="eps" placeholder="eps" value="2">
                min_samples <input type="text" name="min_samples" placeholder="min_samples" value="2">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">Training by Kmean</button>
            </div>
        </div>
    </form>

    {% if images is not None %}
    {% load staticfiles %}
    <div class="text-center">
        <h2 class="text-center">Image display</h2>
        {% for img in images %}
            <img src="{% static img %}">
        {% endfor %}
    </div>
    {% endif %}

    {% if mlp_predicted is not None %}
        <div id="MLP_report">
            <h2 class="text-center">train report</h2>
            <p>MLP</p>
            <pre>{{ mlp_predicted }}</pre>
            <pre>score = {{ mlp_metrics_score }}</pre>
            <pre>{{ mlp_metrics_report }}</pre>
        </div>
    {% endif %}

    {% if svm_predicted is not None %}
        <div id="SVM_report">
            <h2 class="text-center">train report</h2>
            <p>SVM</p>
            <pre>{{ svm_predicted }}</pre>
            <pre>score = {{ svm_metrics_score }}</pre>
            <pre>{{ svm_metrics_report }}</pre>
        </div>
    {% endif %}

    {% if predicted is not None %}
        <div id="NativeBayes_report">
            <h2 class="text-center">train report</h2>
            <p>Naive bayes</p>
            <pre>{{ predicted }}</pre>
            <pre>score = {{ metrics_score }}</pre>
            <pre>{{ metrics_report }}</pre>
        </div>
    {% endif %}

    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for th in label_th %}
                        <th>
                            <strong>{{ th }}</strong>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for result in km_result %}
                    <tr>
                    <td class="col-sm-2">{{ result.log }}</td>
                    <td class="col-sm-2">{{ result.raw_label }}</td>
                    <td class="col-sm-2">{{ result.km_label }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <br>
    <br>

    <script>
        $(document).ready(function(){
            $("#btn_MLP").click(function(){
                $("#MLP").show();
                $("#SVM").hide();
                $("#Kmeans").hide();
                $("#NativeBayes").hide();
                $("#report").show();
                $("#MLP_report").show();
                $("#SVM_report").show();
                $("#NativeBayes_report").hide();
            });
            $("#btn_SVM").click(function(){
                $("#MLP").hide();
                $("#SVM").show();
                $("#Kmeans").hide();
                $("#NativeBayes").hide();
                $("#report").show();
                $("#MLP_report").show();
                $("#SVM_report").show();
                $("#NativeBayes_report").hide();
            });
            $("#btn_Kmeans").click(function(){
                $("#MLP").hide();
                $("#Kmeans").show();
                $("#NativeBayes").hide();
                $("#report").hide();
            });
            $("#btn_NativeBayes").click(function(){
                $("#MLP").hide();
                $("#Kmeans").hide();
                $("#NativeBayes").show();
                $("#report").show();
                $("#MLP_report").hide();
                $("#SVM_report").hide();
                $("#NativeBayes_report").show();
            });

            $("#submodel").change(function(){
                var v = $("#submodel").val();
                if(v == "dbscan") {
                    $("#kmeans").hide();
                    $("#dbscan").show();
                }else{
                     $("#kmeans").show();
                    $("#dbscan").hide();
                }
            });
        });
    </script>

{% endblock %}

