<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch Collection Log</title>
    <link rel="stylesheet" href="https://static.djangoproject.com/css/output.beb34528fd55.css" >
</head>
<body>
    <a href="{% url 'LogDisplay' %}" class="navbar-text"><strong>Log Display</strong></a>
    <h2 style="...">BatchCollectionLog</h2>
    <a  href="{% url 'InfoFillInPage:InfoFillInPage' %}">Go to Info fill page</a>
    <br>
    <a  href="{% url 'InfoFillInPage:UploadLog' %}">Go to upload log</a>
    <br>
    <a  href="{% url 'LogAnalysisPage:LogAnalysisPage' %}">Go to log analysis</a>
    <br>

    <h2 style="...">Input</h2>
    <form action="{% url 'InfoFillInPage:get_jenkins_log_by_build_num_internal' %}" method="post">
        <p>Jenkins Url</p>
        <input type="text" name="job_home_url"/>
        <p>Build internal</p>
        <input type="text" name="build_num_start" placeholder="build num start"/>
        <input type="text" name="build_num_end" placeholder="build num end"/>
        <p>Team</p>
        <label>Choose the team
            <select name="team">
            {% for team in Teams %}
                <option id="team" value="{{team.name}}">{{team.name}}</option>
            {% endfor %}
            </select>
        </label>
        <p>Error Type</p>
        <label>Choose the error type
            <select name="error_type">
            {% for error in ErrorTypes %}
                <option id="error" value="{{error.error_type}}">{{error.error_type}}</option>
            {% endfor %}
            </select>
        </label>
        <p>Error Description</p>
        <input type="text" name="description"/>
        <br>
        <input type="submit" name="submit"/>
    </form>
    <a href="{% url 'InfoFillInPage:CreateErrorType' %}" class="navbar-text"><strong>Create new error type</strong></a>
    <br>
    <a href="{% url 'InfoFillInPage:CreateTeam' %}" class="navbar-text"><strong>Create new team</strong></a>

    {% csrf_token %}


    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

</body>
</html></title>
</head>
<body>

</body>
</html>
