{% extends "./base.html" %}
{% block content %}
    <br/>
    <p class="text-center"><strong>Edit the error type</strong></p>
    <br/>
    <form class="form-horizontal" role="form" action="{% url 'LogCollection:ErrorTypeEditSubmit' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="error_name_editing" class="col-sm-2 control-label">Error type</label>
            <div class="col-sm-9">
                <input type="hidden" name="error_name" value="{{ edit_error.error_type }}">
                <input type="text" class="form-control" id="error_name_editing" name="error_name_editing" value="{{ edit_error.error_type }}" placeholder="Please input the new error type">
            </div>
        </div>
        <div class="form-group">
            <label for="description_editing" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="description_editing" name="description_editing" value="{{ edit_error.description }}" placeholder="Please input description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}